/* COMMONS */
@font-face{
	font-family: 'si';
	src: url('../fonts/Simple-Line-Icons.ttf')
}
h1
, h2
, h3
, h4
, h5
, nav
, .h2
, ul.mobile 
, .nav p
{
	font-family: 'Playfair Display', serif;
}
body {
	font-family: 'Work Sans', sans-serif;
}
.middle, .vmiddle, .col2{
	display: inline-block;
	vertical-align: middle
}
.vmiddle {
	height: 100%;
	width: 0;
}
.col2{
	width: 50%;
}
.bgi {
	background-position: center center;
	background-size: cover;
}
.bold {
	font-weight: 600;
}
img{max-width: 100%}
section{position: relative;}

/* MENU */
.logo a {
    display: inline-block;
}
	nav {
		font-weight: 700;
		font-size: 1.563rem;
		padding: 33px;
		display: flex;
		justify-content:  space-between;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 999;
	}
	nav ul
	, nav div
	, nav ul li
	{
		display: inline-block; vertical-align: middle
	}

	nav svg {
		width: 88px;
	}
    nav.light
    , nav.lightRight {
		color: #fff;
	}
	nav.light.black
	, nav.lightRight.black {
		color: #000
	}
	nav.lightLeft.black svg
	, nav.light.black svg{
		fill:#000
	}
	nav.lightLeft svg
	, nav.light svg{
		fill: #fff;
	}
	
	nav li a, ul.mobile li a{
		padding: 10px 30px;
		position: relative;
	}
	nav.light li a:after
	, nav.lightRight li a:after{
		background-color: #fff;
	}
	nav.light.black li a:after
	, nav.lightRight.black li a:after{
		background-color: #000;
	}
	nav li a:after, ul.mobile li a:after{
		content: '';
		height: 1px;
		width: 0;
		bottom: 8px;
		left: 50%;
		background-color: #000;
		transition: .3s;
		position: absolute;
	}
	nav li a:hover:after, ul.mobile li a:hover:after{
		left: 30px;
		width: calc(100% - 60px);
	}
	#rs.lightLeft {
		color: #fff
	}
	#rs.lightLeft span {
		background-color: #fff
	}
	#rs {
		position: fixed;
		top: 0;
		left: 70px;
		height: 100%;
		width: 20px;
		z-index: 998;
	}
	#rs .fa {
		font-size: 20px;
		line-height: 40px;
		transition: .3s;
	}
	#rs a:last-of-type .fa {
		margin-bottom: 5px;
	}
	#rs a:hover .fa {
		color: #7fadfa; 
	}
	#rs .line {
		width: 1px;
		background-color: #000;
		display: block;
		margin-left: 9px;
	}
	#rs .line:nth-of-type(1) {
		height: 40px;
		margin-bottom: 70px;
	}    
	#rs .line:nth-of-type(2) {
		height: 70px;
	}    
			
	#rs .line:nth-of-type(3) {
		height: 100%;
	}
	.mobile svg {
		width: 55px;
	}
	.mobile{
		padding: 5px
	}
	.mobile ul{
		display: none
	}
	.burger, .burger:after, .burger:before{
		display: inline-block;
		background-color: black;
		width: 22px;
		height: 2px;
	}
	.lightLeft .burger, .lightLeft .burger:after, .lightLeft .burger:before
	,.light .burger, .light .burger:after, .light .burger:before {
		background-color: #fff;
	}
	.light.black .burger, .light.black .burger:after, .light.black .burger:before {
		background-color: #000;
	}	
	.burger{
		position: absolute;
		top: 50%;
		left: 0;
	}
	.burger:after, .burger:before{
		content: '';
		position: absolute;
	}
	.burger::before {
		top: -6px;
	}
	
	.burger::after {
		top: 6px;
	}
	.burgerContainer{
		cursor: pointer;
		height: 22px;
		position: fixed;
		top: 25px;
		right: 15px;
		width: 22px;
	}
	.mobile.open + ul{
		display: flex;
		background-color: #fff;
		height: 100%;
		width: 100%;
		position: fixed;
		z-index: 100;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 33px;
	}
	.open + ul li{
		padding: 40px
	}
	.open .burger, .open .burger::before, .open .burger::after{
		background-color: #000;
	}
	.open .burger:before{
		transform: rotate(45deg);
		top: 0px;
	}
	.open .burger:after{
		transform: rotate(-45deg);
		top: 0px;
	}
	.open .burger{
		background-color: transparent;
	}
	nav.open svg{
		fill: #000
	}
	.mobile + ul{
		display: none;
	}


/* HOME SECTIONS */
.h2{
	font-size: 30px
}
	main#fullpage, #fullpage section {
		height: 100%
	}
	#fp-nav ul li a span, .fp-slidesNav ul li a span {
		height: 10px;
		width: 10px;
		background: transparent;
		border: 2px solid #fff;
		margin: 0;
		top: 0;
		left: 0;
	}
	#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span {
		height: 10px;
		width: 10px;
		margin: 0;
		background: #fff;
	}
	#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span
	{
		height: 10px;
		width: 10px;
		margin: 0;
	}
	#fp-nav ul li:hover a span:after, .fp-slidesNav ul li:hover a span:after, #fp-nav ul li:hover a.active span:after, .fp-slidesNav ul li:hover a.active span:after
	{
		width: 8px;
	}
	#fp-nav ul li a span:after, .fp-slidesNav ul li a span:after, #fp-nav ul li a.active span:after, .fp-slidesNav ul li a.active span:after
	{
		content: '';
		position: absolute;
		background-color: #fff;
		height: 2px;
		width: 0;
		right: 100%;
		top: 2px;
		transition: .3s
	}
	#fp-nav ul li .fp-tooltip{
		width: auto;
    opacity: 0;
		top: -7px;
		transform: translateX(-20px);
		transition: .3s;
	font-family: 'Playfair Display', serif;
	}
	#fp-nav ul li .fp-tooltip.right{
		right: 30px;
	}
	#fp-nav ul li:hover .fp-tooltip{
    opacity: 1;
		transform: translateX(0);
		transition: .3s
		
	}
	h1{
		font-weight: 400;
		font-size: 2.188rem
	}
	#fullpage .col2, #fullpage .col2 .bgi {
		height: 100%;
	}
	#fullpage .txtArea{
		margin-left: 40%;
		font-size: 24px;
		padding: 100px 0;
		padding-right: 50px;
		position: relative;
		transition: .3s;
		width: 60%;
		transition: .3s;
	}
	#fullpage.about .txtArea {
		margin-left: -100px;
		font-size: 16px;
		padding: 0 110px;
		position: relative;
		width: calc(100% + 100px);
		transition: .3s;
		background-color: #fff;
		max-height: 90%;
		overflow: auto;
	}
	#fullpage.about .txtArea > div {
		margin: 100px 0
	}
	
	#fullpage.about .txtArea::after{
		content:none;
	}
	.project.txtArea::after{
		background-color: #fff;
	}
	.txtArea::after{
		content:'';
		position: absolute;
		height: 100%;
		width: 100px;
		top: 0;
		right: -100px;
		z-index: 1;
		transition:.3s 
	}
	.txtArea span{
		opacity: 0;
	}
	.about span{
		opacity: 1;
	}
	.project.txtArea span{
		opacity: 1;
		display: inline-block;
		height: 100px;
		width: 100px;
		bottom: 0;
		right: -100px;
		background-color: #82b1ff;
		position: absolute;
		z-index: 2;
		line-height: 100px;
		text-align: center;
		color: #fff;
		transition:.3s
	}
	/* .project span:hover i {
		padding-left: 20px;
	} */
	.project span i {
		transition: .3s;
	}
	main.project .txtHeader p:first-of-type > span {
		margin-right: 30px;
	}
	#fullpage .project a{
		position: absolute;
		display: inline-block;
		width: 100px;
		height: 100px;
		bottom: 0;
		right: -100px;
		z-index: 3;
	}
	h3{
		font-size: 65px;
	    opacity: .04;
    	position: absolute;
    	top: 75px;
		font-size: 65px;
		margin-left: -70px;
		opacity: .04;
		margin-bottom: -50px;
	}
	h2{
		font-weight: 400;
		font-size: 45px;
		position: relative;
		z-index: 2;
		line-height: 50px;
		margin: 15px 0;
	}
/* PROJECT */
	header{
		height: 80%;
		position: relative
	}
	main.project h1{
		font-size: 60px
	}
	.txtHeader{
		background-color: #fff;
		width: 1000px;
		max-width: 90%;
		margin: 0 auto;
		padding: 40px 7%;
		line-height: 1.7;
		margin-top: -200px;
		position: relative;
		z-index: 1;
		text-align: left
	}
	main.project p:first-of-type{
		color: #9e9e9e;
		margin-bottom: 40px;
	}
	 i{
		display: inline-block;
		font-family: 'si';
		font-size: 18px;
		font-style: normal;
	}
	main.project p:first-of-type i{
		margin-right:10px;

	}
	main.project p:first-of-type span, .project i {
		display: inline-block;
		vertical-align: middle;
	}
	main.project {
		background-color: #fafafa;
		text-align: center
	}
	main.project p i:first-of-type{
		margin-left: 0;
	}
	main.project p {
		margin: 10px auto;
	}
	main .txtHeader {
		margin-bottom: 100px;
	}
	main.project .txtHeader h2{
		font-size: 30px;
		max-width: 90%;
		margin: 20px auto 20px auto;
	}

	main.project .txtHeader .col2 span{
		display: inline-block;
	}
	main.project h2{
		font-size: 45px;
		width: 800px;
		max-width: 80%;
		margin: 80px auto 45px auto;
		text-align: left;
	}
	main.project img{
		width: 1000px;
		margin-bottom: 30px; 
		-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
		-moz-box-shadow:  0px 0px 15px 0px rgba(0,0,0,0.3);
		box-shadow:  0px 0px 15px 0px rgba(0,0,0,0.3);
	}
	main.project section > div {
		margin: 40px auto;
		max-width: 1010px;
		position: relative;
	}
	main.project .formatmobile img{
		width: calc(1000px / 3)
	}
	main.project .bgProject{

		max-width: none;
		position: absolute;
	}
	main.project .content{
		z-index: 1;
		position: relative;
	}
	main.project .bgProject img{
		box-shadow: none;
		width: auto;
		max-width: none;
	}
	.wrapContent {
		display: inline-block;
		position: relative;
		max-width: 90%;
	}
	.formatmobile span {
		display: inline-block;
		margin: 15px 0;
		vertical-align: middle;
	}
	i.si.people:before{
		content:"\e001";
	}
	i.si.book:before{
		content:"\e04c";
	}
	i.si.calendar:before{
		content:"\e075";
	}

	i.si.case:before{
		content:"\e04b";
	}
	i.si.envelope:before{
		content:"\e086";
		line-height: 100px;
	}
	.mobile{
		display:none
	}
	.about .mail {
		position: absolute;
		bottom: 0;
		width: 100px;
		height: 100px;
		background-color: #82b1ff;
		left: 0;
		color: #fff;
		text-align: center
	}
	.nav {
		height: 220px;
		margin-top: 100px;
		position: relative;
		overflow: hidden;
	}
	.nav::before{
		content: '';
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: .5;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		transition: .3s
	}
	.nav:hover .bgi{
		transform: scale(1.3)
	}
	.nav:hover:before{
		opacity: .2;
	}
	.nav .bgi, .nav .block{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transition: .3s
	}

	.nav .block {
		z-index: 3;
	}

	main.project .nav p {
		color: #fff;
		display: inline-block;
		font-size: 45px;
		position: relative;
		z-index: 2;
		margin: 0;
	}
	
	main.project .txtHeader img {
		max-width: 100%;
	}
	main.project section:not(.txtHeader) div{
		max-width: 1000px;
		margin: 0 auto;
	}
	main.project .txtHeader a {
		height: 50px;
		width: 50px;
		display: inline-block;
		text-align: center;
		line-height: 50px;
		color: #fff;
		background-color: #82b1ff;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	main.project .txtHeader .col2 span{
		position: relative;
	}
	@media screen and (max-width: 750px){
		.desktop, .nav:first-of-type{
			display: none
		}
		.mobile{
			display: initial
		}
		h3{
			font-size: 35px;
			margin-left: 0;
			top: 15px;
		}
		h2, .h2,main.project h2{
			margin: 25px auto;
			font-size: 26px;
			line-height: 30px;
		}
		.col2{
			width: 100%
		}
		#fullpage .col2:first-of-type{
			height: 40%;
		}
		#fullpage .col2:last-of-type{
			height: auto;
			position: relative;
			min-height: 60%;
		}
		#fullpage .col2:last-of-type .txtArea{
			padding: 0 25px;
			margin: 15px;
			margin-top: -50px;
			width: calc(100% - 30px);
			max-height: none;
		}

		#fullpage.about .txtArea > div  {
			margin: 30px 0 100px 0;
		}
		#rs{
			display: none;
		}

		.col2.img::before {

			content: '';
			position: absolute;
			bottom: 0;
			height: 200px;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#373737+0,373737+100&0+0,1+100 */
			background: -moz-linear-gradient(top, rgba(55,55,55,0) 0%, rgba(55,55,55,.55) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(55,55,55,0) 0%,rgba(55,55,55,.55) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(55,55,55,0) 0%,rgba(55,55,55,.55) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00373737', endColorstr='#373737',GradientType=0 ); /* IE6-9 */
			width: 100%;
		
		}
		#fullpage.about .txtArea{
			overflow: initial;
		}
		.about .mail{
			height: 60px;
			width: 100%;
		}
		i.si.envelope:before{
			line-height: 60px;
		}
		main.project .nav p{
			font-size: 24px
		}
		main.project .nav {
			height: 120px;
		}
		main.project h1{
			font-size: 26px
		}
		i.si.envelope::before{
			line-height: 60px 
		}
	}